<!-- views/form.erb -->

<h2>This is a header but from erb</h2>

<form action='/check' method='POST'>
  <label>名前:</label>
  <input type='text' name='name'>

  <label>年齢:</label>
  <input type='text' name='age'>

  <input type='submit'>
</form>
